<form action="/login" method="post">
  <h1>Login</h1>
  <div class="container">
    <label for="uname"><b>Email: </b></label>
    <input type="text" placeholder="digite o email" name="email" required>
    <br>
    <label for="psw"><b>Senha: </b></label>
    <input type="password" placeholder="digite a senha" name="senha" required>
    <br>
    <input type="submit" value="Login" />
  </div>
</form>